h2 {
  color: blue;
}

table {
  width: 500px;
  border-collapse: collapse;
}

td {
  border: 2px solid lightgray;
  padding: 20px;
}

.selected {
  font-weight: bold;
  background-color: lightblue;
}